@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

button:not(:disabled),
a[href] {
  cursor: pointer;
}
